<br><br><br><br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="dialog-window">
  <div class="dialog-header">
    <div class="dialog-title noselect">Reset password</div>
  </div>
  <div class="dialog-content">
      <br>
      <div class="errors" *ngFor="let item of errors">
        {{item}}<br>
      </div>
      <br>
      <table>
      <tr>
        <td>Password</td>
        <td>
          <input class="formcontrol" type="password" formControlName="password" name="password" required>
        </td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td>
          <input class="formcontrol" type="password" formControlName="confirmPassword" (keyup.enter)="onSubmit()" required>
        </td>
      </tr>
    </table>
  </div>
  <div class="dialog-footer">
    <button title="Enter" type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</div>
</form>